.room_frame {
    height: 94vh;
    padding: 10px;
    background-color: lightgray;
    display: flex;
}
    .left_window{
        width: 80%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        background-color: darkgrey;
    }
        .video_grid{
            height: 80%;
            background-color: black;
        }
        .controller{
            height: 20%;
            background-color: grey;
        }
    .chat_window{
        width: 20%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
        .chat_header{
            height: 10%;
            font-size: 25px;
            border: 1px solid black;
            padding: 3px;
            text-align: center;
            overflow: auto;
        }
            .participants{
                font-size: 20px;
                overflow-wrap: break-word;
            }
        .message_window{
            height: 75%;
            overflow: auto;
            overflow-wrap: break-word;
        }
            .new_participant_msg{
                margin: 3px;
                font-size: 23px;
                color: green;
                text-align: center;
            }
            .msg{
                margin: 3px;
                font-size: 17px;
            }
        .msg_input{
            resize: none;
            height: 15%;
            border: 1px solid black;
        }